@using AppBlazor.Components
@using System.Net.Http.Headers
@using Services
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="overhead">
    <div class="tabs">
        <button class="btn @(selectedTab == Tab.Info ? "tab-active" : "")" @onclick="() => SelectTab(Tab.Info)">Info</button>
        <button class="btn @(selectedTab == Tab.CustomText ? "tab-active" : "")" @onclick="() => SelectTab(Tab.CustomText)">Custom Text</button>
        <button class="btn @(selectedTab == Tab.PropertyGroup ? "tab-active" : "")" @onclick="() => SelectTab(Tab.PropertyGroup)">Property Group</button>
    </div>

    @if (selectedTab == Tab.Info)
    {
        <div class="mallinfo-container">
            <h3>Mall Info</h3>
            <!-- Template Name Input Section -->
            <div class="mb-3">
                <label for="templateName" class="form-label">Mallnamn</label>
                <input type="text" class="form-control" id="templateName" @bind="templateName" placeholder="Namnge din mall" required>
            </div>

            <!-- File Upload Section -->
            <ErrorBoundary>
                <UserFileInputComponent OnFileUploaded="HandleFileUploaded" />
            </ErrorBoundary>
        </div>
    }
    else if (selectedTab == Tab.CustomText)
    {
        @if (IsEditMode)
        {
            <ErrorBoundary>
                <CustomTextComponent CustomTexts="@TicketHandling.CustomTextElements" />
            </ErrorBoundary>
        }
        else
        {
            <ErrorBoundary>
                <CustomTextComponent CustomTexts="@CustomTexts" />
            </ErrorBoundary>
        }
    }
    else if (selectedTab == Tab.PropertyGroup)
    {
        <ErrorBoundary>
            <PropertyGroupComponent TicketHandling="@TicketHandling" />
        </ErrorBoundary>
    }

    @if (!string.IsNullOrEmpty(SuccessMessage))
    {
        <div class="alert alert-success mt-2" role="alert">
            @SuccessMessage
        </div>
    }
    else if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger mt-2" role="alert">
            @ErrorMessage
        </div>
    }

    <!-- Action Buttons -->
    <button @onclick="() => CreatePdf(false)" class="btn btn-secondary btn-sm spcl-btn" disabled="@isPreviewLoading">
        @if (isPreviewLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>
                Laddar...
            </span>
        }
        else
        {
            <span>
                Förhandsgranska PDF
            </span>
        }
    </button>
    @if (IsEditMode)
    {
        <button @onclick="UpdateTemplate" class="btn btn-success btn-sm spcl-btn" disabled="@isSaveLoading">
            @if (isSaveLoading)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>
                    Sparar...
                </span>
            }
            else
            {
                <span>
                    Spara ändringar
                </span>
            }
        </button>
    }
    else
    {
        <button @onclick="() => CreatePdf(true)" class="btn btn-success btn-sm spcl-btn" disabled="@isSaveLoading">
            @if (isSaveLoading)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>
                    Sparar...
                </span>
            }
            else
            {
                <span>
                    Spara PDF mallen
                </span>
            }
        </button>
    }

    <ErrorBoundary>
        <PdfPreviewComponent PdfBase64="@pdfBase64" />
    </ErrorBoundary>
</div>