@using AppBlazor.Components

<div class="overhead">
    <div class="tabs">
        <button class="btn @(selectedTab == Tab.Info ? "tab-active" : "")" @onclick="() => SelectTab(Tab.Info)">Info</button>
        <button class="btn @(selectedTab == Tab.CustomText ? "tab-active" : "")" @onclick="() => SelectTab(Tab.CustomText)">Anpassad Text</button>
        <button class="btn @(selectedTab == Tab.PropertyGroup ? "tab-active" : "")" @onclick="() => SelectTab(Tab.PropertyGroup)">Innehåll</button>
        <button class="btn @(selectedTab == Tab.Others ? "tab-active" : "")" @onclick="() => SelectTab(Tab.Others)">Ytterligare</button>
    </div>

    @if (selectedTab == Tab.Info)
    {
        <div class="mallinfo-container">
            <h3>Mall Info</h3>
            <!-- Template Name Input Section -->
            <div class="mb-3">
                <label for="templateName" class="form-label">Mallnamn</label>
                <input type="text" class="form-control" id="templateName" @bind="templateName" placeholder="Namnge din mall" required>
            </div>

            <!-- File Upload Section -->
            <label for="backgroundImageUpload" class="form-label">Bakgrundsbild:</label>
            <InputFile id="backgroundImageUpload" title="Bakgrundsbild" accept="image/png, image/jpeg" class="form-control mb-3" OnChange="HandleFileUpload" />
        </div>
    }
    else if (selectedTab == Tab.CustomText)
    {
        @if (IsEditMode)
        {
            <ErrorBoundary>
                <CustomTextComponent CustomTexts="@TicketHandling.CustomTextElements" />
            </ErrorBoundary>
        }
        else
        {
            <ErrorBoundary>
                <CustomTextComponent CustomTexts="@CustomTexts" />
            </ErrorBoundary>
        }
    }
    else if (selectedTab == Tab.PropertyGroup)
    {
        <ErrorBoundary>
            <PropertyGroupComponent TicketHandling="@TicketHandling" />
        </ErrorBoundary>
    }
    else if (selectedTab == Tab.Others)
    {
        <!-- Additional Options -->
        <div class="additional-options p-3 bg-light border">
            <div class="row">
                <div class="col-md-6">
                    <h5>QR/Streckkod Position</h5>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" @bind="TicketHandling.BarcodePositionX" id="BarcodePositionX" />
                        <label for="BarcodePositionX">X Position</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" @bind="TicketHandling.BarcodePositionY" id="BarcodePositionY" />
                        <label for="BarcodePositionY">Y Position</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" @bind="TicketHandling.IncludeAd" id="IncludeAd" />
                        <label class="form-check-label" for="IncludeAd">Använd reklam</label>
                    </div>
                    @if (TicketHandling.IncludeAd)
                    {
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" @bind="TicketHandling.AdPositionX" id="AdPositionX" />
                            <label for="AdPositionX">X Position</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" @bind="TicketHandling.AdPositionY" id="AdPositionY" />
                            <label for="AdPositionY">Y Position</label>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" @bind="TicketHandling.AddScissorsLine" id="AddScissorsLine" />
                        <label class="form-check-label" for="AddScissorsLine">Använd sax linje</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" @bind="TicketHandling.FlipBarcode" id="FlipBarcode" />
                        <label class="form-check-label" for="FlipBarcode">Vänd streckkod</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" @bind="TicketHandling.UseQRCode" id="UseQRCode" />
                        <label class="form-check-label" for="UseQRCode">Använd QR Code</label>
                    </div>
                </div>
            </div>
        </div>

    }

    @if (!string.IsNullOrEmpty(SuccessMessage))
    {
        <div class="alert alert-success mt-2" role="alert">
            @SuccessMessage
        </div>
    }
    else if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger mt-2" role="alert">
            @ErrorMessage
        </div>
    }

    <!-- Action Buttons -->
    <button @onclick="() => CreatePdf(false)" class="btn btn-secondary btn-sm" disabled="@isPreviewLoading">
        @if (isPreviewLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>
                Laddar...
            </span>
        }
        else
        {
            <span>
                Förhandsgranska PDF
            </span>
        }
    </button>
    @if (IsEditMode)
    {
        <button @onclick="UpdateTemplate" class="btn btn-success btn-sm ms-2" disabled="@isSaveLoading">
            @if (isSaveLoading)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>
                    Sparar...
                </span>
            }
            else
            {
                <span>
                    Spara ändringar
                </span>
            }
        </button>
    }
    else
    {
        <button @onclick="() => CreatePdf(true)" class="btn btn-success btn-sm ms-2" disabled="@isSaveLoading">
            @if (isSaveLoading)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>
                    Sparar...
                </span>
            }
            else
            {
                <span>
                    Spara PDF mallen
                </span>
            }
        </button>
    }

    <ErrorBoundary>
        <PdfPreviewComponent PdfBase64="@pdfBase64" />
    </ErrorBoundary>
</div>