@using System.Reflection

@if (TicketHandling != null && PropertyGroups != null)
{
    <div class="scrollable-container customization-container">
        <h2>Hantera strukturerad data</h2>
        <div class="row">
            @foreach (var group in PropertyGroups)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <input type="checkbox" class="custom-control-input"
                               checked="@Convert.ToBoolean(group.IncludeProperty?.GetValue(TicketHandling))"
                        @onchange="e => HandleCheckboxChange(e, group.IncludeProperty)"
                               id="@group.IncludeProperty?.Name" />
                        <label class="custom-control-label">@GetDisplayName(group.IncludeProperty?.Name ?? string.Empty)</label>
                    </div>

                    @if (Convert.ToBoolean(group.IncludeProperty?.GetValue(TicketHandling)))
                    {
                        foreach (var positionProperty in group.PositionProperties ?? new List<PropertyInfo>())
                        {
                            <div class="position-input-group">
                                <label>@GetDisplayName(positionProperty.Name)</label>
                                <input type="number" class="form-control form-control-sm mb-2"
                                       value="@positionProperty.GetValue(TicketHandling)?.ToString()"
                                @oninput="@(e => HandlePositionChange(e, positionProperty))" />
                            </div>
                        }
                    }
                </div>
            }
        </div>
        <!-- Additional Options -->
        <div class="row additional-options">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="checkbox" @bind="TicketHandling.AddScissorsLine" id="AddScissorsLine" />
                    <label for="AddScissorsLine">Add Scissors Line</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="checkbox" @bind="TicketHandling.FlipBarcode" id="FlipBarcode" />
                    <label for="FlipBarcode">Flip Barcode</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="checkbox" @bind="TicketHandling.UseQRCode" id="UseQRCode" />
                    <label for="UseQRCode">Use QR Code</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="position-input-group">
                        <label for="BarcodePositionX">BarcodePositionX</label>
                        <input type="number" class="form-control form-control-sm mb-2"
                        @bind="TicketHandling.BarcodePositionX" id="BarcodePositionX" placeholder="320" />
                        <label for="BarcodePositionY">BarcodePositionY</label>
                        <input type="number" class="form-control form-control-sm mb-2"
                        @bind="TicketHandling.BarcodePositionY" id="BarcodePositionY" placeholder="825" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
