@using Models
@using System.Globalization

@if (TicketHandling?.TextConfigs != null)
{
    <div class="scrollable-container customization-container bg-light border p-3">
        <h2 class="mb-3">Hantera Mall Text Element</h2>
        <div class="row">
            @foreach (var config in TicketHandling.TextConfigs)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input"
                               checked="@config.Value.Style.Include"
                        @onchange="e => HandleIncludeChange(e, config.Value.Style)"
                               id="@($"include-{config.Key}")" />
                        <label class="form-check-label" for="@($"include-{config.Key}")">
                            @config.Key (@config.Value.DataViewPropertyName)
                        </label>
                    </div>

                    @if (config.Value.Style.Include)
                    {
                        <div class="mt-2">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control form-control-sm"
                                       value="@(config.Value.Style.PositionX?.ToString(CultureInfo.InvariantCulture) ?? "")"
                                @oninput="e => HandlePositionChange(e, config.Value.Style, true)" />
                                <label class="form-label">X Position</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control form-control-sm"
                                       value="@(config.Value.Style.PositionY?.ToString(CultureInfo.InvariantCulture) ?? "")"
                                @oninput="e => HandlePositionChange(e, config.Value.Style, false)" />
                                <label>Y Position</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control form-control-sm"
                                       value="@(config.Value.Style.FontSize?.ToString(CultureInfo.InvariantCulture) ?? "8")"
                                @oninput="e => HandleFontSizeChange(e, config.Value.Style)" />
                                <label>Font Size</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="color" class="form-control form-control-sm"
                                       value="@config.Value.Style.FontColor"
                                @oninput="e => HandleFontColorChange(e, config.Value.Style)" />
                                <label>Font Color</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select form-control-sm" @onchange="e => HandleFontStyleChange(e, config.Value.Style)"
                                        id="@($"fontStyle-{config.Key}")">
                                    @foreach (FontStyle style in Enum.GetValues(typeof(FontStyle)))
                                    {
                                        <option value="@style" selected="@(style == config.Value.Style.FontStyle)">
                                            @style
                                        </option>

                                    }
                                </select>
                                <label for="@($"fontStyle-{config.Key}")">Font Style</label>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}