@page "/create-template"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using AppBlazor.Components
@using System.Net.Http.Headers

<div class="create-template mb-0">
    <!-- File Upload Section -->
    <UserFileInputComponent OnFileUploaded="HandleFileUploaded" />

    <!-- Template Name Input Section -->
    <div class="mb-3">
        <label for="templateName" class="form-label">Mallnamn</label>
        <input type="text" class="form-control" id="templateName" @bind="templateName" placeholder="Namnge din mall" required>
    </div>


    <!-- Custom Text Elements -->
    <CustomTextComponent CustomTexts="@customTexts" />

    <!-- Dynamic Form Generation Section -->
    <PropertyGroupComponent TicketHandling="@ticketHandling" />

    <!-- Action Buttons -->
    <button @onclick="() => CreatePdf(false)" class="btn btn-secondary btn-sm" disabled="@isPreviewLoading">
        @if (isPreviewLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>
                Laddar...
            </span>
        }
        else
        {
            <span>
                Förhandsgranska PDF
            </span>
        }
    </button>
    <button @onclick="() => CreatePdf(true)" class="btn btn-success btn-sm" disabled="@isSaveLoading">
        @if (isSaveLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>
                Sparar...
            </span>
        }
        else
        {
            <span>
                Spara PDF mallen
            </span>
        }
    </button>

    <!-- PDF Preview Section -->
    <PdfPreviewComponent PdfBase64="@pdfBase64" />

    <!-- PDF SaveToDb Section -->
    <ModalsComponent @ref="successModal"
                     OnStartFresh="HandleStartFresh"
                     OnContinueFromCurrent="HandleContinueFromCurrent"
                     OnSelectExistingTemplates="HandleSelectExistingTemplates" />


    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="validation-message" role="alert">
            @ErrorMessage
        </div>
    }
</div>
