@page "/edit-template/{TemplateId:guid}"
@inject HttpClient HttpClient
@using AppBlazor.Components

<h3>Redigera mall</h3>

<PdfCreatorComponent IsEditMode="true"
                     CustomTexts="@ticketHandling.CustomTextElements"
                     TicketHandling="@ticketHandling"
                     TemplateId="@TemplateId"
                     TemplateName="@templateName" 
                     ShowEventInfo="@showEventInfo"/>

<!-- PDF Preview Section -->
<PdfPreviewComponent PdfBase64="@pdfBase64" />

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="validation-message" role="alert">
        @ErrorMessage
    </div>
}